<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="todo-list">
    <ul>
        <li>
            <input type="checkbox">
            <input type="text" value="teste">
            <i id="delete" class="fa-solid fa-delete-left"></i>
        </li>
        
    </ul>
</section>


<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all></app-todo-button-delete-all>